<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659290157940-a83ntmb4o251htqh7mo0tb486elfn8gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659290157940-a83ntmb4o251htqh7mo0tb486elfn8gl</string>
	<key>API_KEY</key>
	<string>AIzaSyCe-AkS5NGGZtb7l9aLNQdk3Mh4_CDf8-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>659290157940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.starterkit</string>
	<key>PROJECT_ID</key>
	<string>starterkit-734ae</string>
	<key>STORAGE_BUCKET</key>
	<string>starterkit-734ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659290157940:ios:746d7cda66027984</string>
	<key>DATABASE_URL</key>
	<string>https://starterkit-734ae.firebaseio.com</string>
</dict>
</plist>